doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://bootswatch.com/flatly/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/javascripts/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='home')
            img(src='images/LogoS.png')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='home') Home
            li.active
              a(href='about') About
            li
              a(href='contact') Contact
        // /.navbar-collapse
      // /.container
    br
    br
    // Page Content
    .container
      // Page Heading/Breadcrumbs
      .row
        .col-lg-12
          h1.page-header
            br
            | About Us
          ol.breadcrumb
            li
              a(href='index') Home
            li.active About Us
      // /.row
      // Image Header
      .row
        .col-lg-12
          img.img-responsive(src='images/Logo.png', alt='')
      // /.row
      // Service Panels
      // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
      .row
        .col-lg-12
          h2.page-header Meet The Team
        .col-md-6.col-sm-6
          .panel.panel-default.text-center
            .panel-heading
              span.fa-stack.fa-5x
                h4 Andrew McCormack
                i.fa.fa-circle.fa-stack-2x.text-primary
                i.fa.fa-tree.fa-stack-1x.fa-inverse
            .panel-body
              img.img-responsive.center-block(src='images/IMAGE.JPG', alt='')
              p
                | Andrew, once an intern in MasterCard graduated college with a pass degree and had to start his own company so that he wouldn't be unemployed
        .col-md-6.col-sm-6
          .panel.panel-default.text-center
            .panel-heading
              span.fa-stack.fa-5x
                h4 Jemma See
                i.fa.fa-circle.fa-stack-2x.text-primary
                i.fa.fa-car.fa-stack-1x.fa-inverse
            .panel-body
              img.img-responsive.center-block(src='images/IMAGE2.JPG', alt='')
              p
                | After 8 years in college Jemma eventually passed her exams with a solid 40% and decided to join Andrew in his venture to start his own company
      // Service Tabs
      .row
        .col-lg-12
          h2.page-header Our Services
        .col-lg-12
          ul#myTab.nav.nav-tabs.nav-justified
            li.active
              a(href='#service-one', data-toggle='tab')
                i.fa.fa-tree
                | Birthdays
            li
              a(href='#service-two', data-toggle='tab')
                i.fa.fa-car
                | Weddings
            li
              a(href='#service-three', data-toggle='tab')
                i.fa.fa-support
                | Gigs
          #myTabContent.tab-content
            #service-one.tab-pane.fade.active.in
              h4 Birthdays
              p
                | Create an event for birthday celebrations. Book your venues, bands, catering type all within minutes and invite your friends to the event!
            #service-two.tab-pane.fade
              h4 Weddings
              p
                | Our app can ease the hassle of organising a wedding. Simply choose your choose your preferred church, wedding venue and wedding band. The wedding venue will then get in touch regarding the meals that will served and will set up a date to come down to sample their meals for the wedding.
            #service-three.tab-pane.fade
              h4 Gigs
              p
                | If you are an event organiser this app will help you set up an event wihtin a few minutes without getting in contact with venues or anything like that. Simply book your venue from the selection provided and invite your friends to come along!
      hr
      // Service List
      // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
      .row
        .col-lg-12
          h2.page-header About us
        .col-sm-12
          | After their tragic joint 21st birthday Andrew and Jemma decided enough was enough and created iEvents in the hope of making an easy way of creating events and allow people to attend with ease.
        br
        br
        // /.row
        hr
      // /.container
      // jQuery
      script(src='javascripts/jquery.js')
      // Bootstrap Core JavaScript
      script(src='javascripts/bootstrap.min.js')
