doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://bootswatch.com/flatly/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='home') iEvent
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='home') Home
            li.active
              a(href='about') About
            li
              a(href='index') Services
            li
              a(href='contact') Contact
        // /.navbar-collapse
      // /.container
    // Page Content
    .container
      // Page Heading/Breadcrumbs
      .row
        .col-lg-12
          h1.page-header
            br
            | Services
           
          ol.breadcrumb
            li
              a(href='index') Home
            li.active Services
      // /.row
      // Image Header
      .row
        .col-lg-12
          img.img-responsive(src='http://placehold.it/1200x300', alt='')
    
      // Service Tabs
      .row
        .col-lg-12
          h2.page-header Service Tabs
        .col-lg-12
          ul#myTab.nav.nav-tabs.nav-justified
            li.active
              a(href='#service-one', data-toggle='tab')
                i.fa.fa-tree
                |  Welcome to iEvent
            li
              a(href='#Our.Services', data-toggle='tab')
                i.fa.fa-car
                |  Our Services
          #myTabContent.tab-content
            #service-one.tab-pane.fade.active.in
              h4 Welcome to iEvent
              p
                | iEvent allows for customers to create events big or small within minutes. We specialise in Internet-related services in the fields of venues, bands and catering. We allow for easy comparison between multiple companies to find the best value for you! 
            #Our.Services.tab-pane.fade
              h4 Our Services
              p
                | We can help create any event you wish. We have basic formats for birthdays, band gigs and even weddings! Once you create the event we have customized your searches to appeal to your needs. For example, for weddings we have narrowed the search to weddings band around the the area. HOwever, this search is not limit as you have access to search all regions and you can even choose the genre of music you may want from pop, rock, jazz or even metal. We don't descriminate :)
      hr
      // Footer
      footer
        .row
          .col-lg-12
            p Copyright © Your Website 2014
    // /.container
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
